- if @question
  $("#questionForm").html('#{escape_javascript(render partial: 'questions/form', locals: {question: @question, solve_q: @solve_q, questions: @questions})}')
- else
  $("#questionForm").hide()
  $("#note").show()